@media only screen and (min-width: 992px) and (max-width: 5000px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-wrapper {
    width: 100%;
  }
  .main-menu ul li a {
    padding: 40px 8px;
  }
  .applay-button a {
    padding: 10px 12px;
  }
  .info-intro {
    padding-left: 4px;
    padding-right: 4px;
  }
  .single-post-text h2 a {
    font-size: 20px;
  }
  .services-i-right h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 15px;
    line-height: 24px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .mb-100 {
    margin-bottom: 80px;
  }
  .pb-80 {
    padding-bottom: 50px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .main-menu ul li a {
    padding: 40px 8px;
  }
  .applay-button-area {
    display: none;
  }
  .header-left li {
    margin-top: 10px;
  }
  .slider-wrapper,
  .slider-text {
    width: 100%;
  }
  .slider-text h1 {
    font-size: 60px;
  }
  .feature-item .feature-inner-meta h2 {
    line-height: 1.5;
  }
  .faq-thumb img {
    width: 100%;
  }
  .testimonial-sec .sec-title {
    margin: 0 0 50px;
  }
  .single-post-text h2 a {
    line-height: 1.5;
  }
  .footer-widget {
    margin: 20px 0;
  }
  .footer-sec {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .info-intro {
    padding-left: 6px;
    padding-right: 8px;
  }
  .home-v2 .office-number {
    display: none;
  }
  .vedio-inner {
    margin-top: 40px;
  }
  .about-us-sec {
    background-image: none;
    background-color: #201f34;
  }
  .message-desc {
    margin: 0;
  }
  .feature-v3-service-icon {
    display: none;
  }
  .home-v3 .all-slide .owl-item {
    height: 750px;
  }
  .service-v3-img img {
    width: 100%;
  }
  .pagehding-sec {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .page-heading h1 {
    font-size: 48px;
  }
  .breadcrumb-list li::before {
    line-height: 24px;
  }
  .sidebar {
    margin-top: 60px;
  }
  .commenter-author-img {
    margin-bottom: 20px;
  }
  .code-text {
    line-height: 1.7;
  }
  .contact-info-inner {
    margin: 10px 0;
  }
  .page-details-col {
    margin-bottom: 30px;
  }
  .team-details-thumb {
    margin-bottom: 40px;
  }
  .team-details-info h1 {
    font-size: 48px;
  }
  .not-found h1 {
    font-size: 130px;
    line-height: 1.4;
  }
  .counting_sl {
    border-right: inherit;
  }
  .consulting-form-sec {
    background: #282640;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .flex-dir {
    flex-direction: column;
  }
  body {
    font-size: 14px;
    line-height: 24px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }

  .mb-100 {
    margin-bottom: 80px;
  }
  .pb-80 {
    padding-bottom: 50px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .applay-button-area {
    display: none;
  }
  .header-left li {
    margin-top: 10px;
  }
  .slider-wrapper,
  .slider-text {
    width: 100%;
  }
  .sec-title h1 {
    font-size: 36px;
  }
  .slider-text h1 {
    font-size: 28px;
  }
  .feature-item .feature-inner-meta h2 {
    line-height: 1.5;
  }
  .faq-thumb img {
    width: 100%;
  }
  .testimonial-sec .sec-title {
    margin: 0 0 50px;
  }
  .single-post-text h2 a {
    line-height: 1.5;
  }
  .footer-widget {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
  }
  .search-bar-icon {
    padding: 0;
    right: 100px;
  }
  .logo {
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
  }
  .header-left {
    text-align: center;
  }
  .header-right-div {
    text-align: center;
  }
  .header-top {
    padding-bottom: 15px;
  }
  .footer-sec {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .info-intro {
    padding-left: 6px;
    padding-right: 8px;
    border-right: 0;
  }
  .home-v2 .office-number {
    display: none;
  }
  .vedio-inner {
    margin-top: 40px;
  }
  .about-us-sec {
    background-image: none;
    background-color: #201f34;
  }
  .message-desc {
    margin: 0;
  }
  .message-title {
    font-size: 32px;
  }
  .message-subtitle {
    margin-left: 0;
    margin-right: 0;
  }
  .why-choose-thumb > img {
    width: 100%;
  }
  .about-us-short h1 {
    font-size: 34px;
  }
  .counting_sl h2 {
    font-size: 38px;
  }
  .counting_sl h4 {
    font-size: 16px;
  }
  .home-v3 .all-slide .owl-item {
    height: 550px;
  }
  .service-v3-img img {
    width: 100%;
  }
  .feature-v3-service-thumb > img {
    width: 100%;
  }
  .home-v2 .about-desc,
  .home-v3 .about-desc {
    padding: 80px 0 50px;
  }
  .pagehding-sec {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .page-heading h1 {
    font-size: 48px;
  }
  .call-to-action-text2 {
    text-align: center;
  }
  .call-to-action-text2 a.btn {
    float: inherit;
  }
  .breadcrumb-list li::before {
    line-height: 24px;
  }
  .sidebar {
    margin-top: 40px;
  }
  .commenter-author-img {
    margin-bottom: 20px;
  }
  .post-share-link {
    text-align: left;
    margin-top: 20px;
  }
  .code-text {
    font-size: 22px;
    line-height: 1.7;
  }
  .contact-info-inner {
    margin: 10px 0;
  }
  .page-details-col {
    margin-bottom: 30px;
  }
  .page-details-desc h1 {
    font-size: 28px;
  }
  .page-details-desc h2 {
    font-size: 22px;
  }
  .team-details-thumb {
    margin-bottom: 30px;
  }
  .team-details-info h1 {
    font-size: 38px;
  }
  .team-details-desc h2 {
    font-size: 22px;
  }
  .not-found h1 {
    font-size: 80px;
    line-height: 1.6;
  }
  .error-subtitle {
    font-size: 28px;
  }
  .counting_sl {
    border-right: inherit;
  }
  .consulting-form-sec {
    background: #282640;
  }
  .home-v2 .about-desc::before,
  .home-v3 .about-desc::before {
    right: -30px;
    height: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 560px) {
  .project-list-box {
    width: 50%;
    float: left;
    margin-bottom: 30px;
    padding-right: 0;
  }
  .project-list-box::before {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 492px) {
  .slider-text h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .slider-text ul {
    margin-top: 40px;
  }
  .commentar-sec img {
    float: inherit;
    margin-bottom: 20px;
  }
  .post-commenter-author .media,
  .commentar-sec .media {
    flex: inherit;
    display: inherit;
  }
  .post-commenter-author .media-left {
    display: inherit;
    width: 100%;
    float: inherit;
  }
  .post-commenter-author .media-body {
    display: inline-block;
    width: 100%;
    float: inherit;
    flex: inherit;
  }
}
@media only screen and (min-width: 0px) and (max-width: 420px) {
  .logo img {
    max-width: 50%;
  }
  .counting_sl h4 {
    font-size: 13px;
  }
  .counting_sl h2 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
    .logo img {
        max-width: 50%;
      }
  .search-bar-icon,
  .nav-menu {
    display: none;
  }
  .header-left li {
    padding-right: unset !important;
  }
  .active a{
    color: #fff !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 500px) {
}
@media only screen and (min-width: 0px) and (max-width: 390px) {
  .sec-title h1 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 700px) {
  #content .col-lg-2 {
    padding: 3px;

  }
  .content {
    max-height: 360px;
    min-height: 360px;
    overflow-y: auto;
  }
  .dark-top {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content small {
    font-size: 13px;
  }
}
